<h1><%= @movie.title %></h1>

<p><%= @movie.overview %></p>
<p><img src="<%= @movie.poster_url %>" alt="<%= @movie.title %> poster"></p>
<p>Rating: <%= @movie.rating %></p>

<%= link_to 'Back to movies', movies_path %>
<%= link_to 'Back to lists', lists_path %>
